<h1 class="h1p">Commentaire n°<%=@comment.id%> :</h1>
<div id="commentlist">
	<table>
		
		<tr>
			<td valign="top">
			<% if @comment.user.avatar_url.to_s.empty? == false %>
                                        <%= image_tag @comment.user.avatar_url(:avatarnews).to_s, :class => "avatar"%>
                                <%else%>
                                        <%= image_tag("default.png", :class => "avatar") %>
                                <%end%>
			</td>
			<td valign="top">			
				<p>Par <i><%= @comment.user.username %></i> le <time><i><%= l @comment.created_at, :format => :sample %></i></time></p>
				<p><%= @comment.content.html_safe %></p>
			</td>
		</tr>
	</table>
</div>
