<h1 class="h1p">Créer un Post :</h1>
<div class="form">
	<%= form_for News.new do |f| %>
	<table>
		<tr>
			<td class="formleftnews">
				<div class="field">Titre :</div>
				<div class="field-block"><%= f.text_field :title, :class => "in" %></div>
				<div class="field">Actif à partir de : <span class="warning">Merci de Respecter le format !</span></div>
				<div class="field-block"><%= f.text_field :programmation,:value => Time.now, :class => "in" %></div>
				<div class="field">Image de presentation (<i>Optionnel</i>) :</div>
				<div class="field-block"><%= f.file_field :image %></div>
			</td>
			<td class="formrightnews">
				<div class="field">Visible ?</div>
				<div class="field-block"><i>Oui : <%= f.radio_button :public, "1" %> | Non : <%= f.radio_button :public, "0" %></i></div>
				<div class="field">Redimensionner l'image de Présentation ?</div>
				<div class="field-block"><i>Oui : <%= f.radio_button :redim, "1" %> | Non : <%= f.radio_button :redim, "0" %></i></div>
				
			</td>
		</tr>
	</table>
	<div>
		<div>Post :</div>
		<%= f.text_area :content, :cols => "30", :rows => "10" %>
	</div>
	<div>
		<div class="field">Nombre de caracteres affiches sur la Page d'accueil (Fonction "Lire la suite") :</div>
		<div class="field-block"><%= f.text_field :length , :value => "800", :class => "in"%></div>
	</div>
	<%= f.hidden_field :user_id , :value => current_user.id %>
	<div><%= f.submit "Créer/Mettre à jour la News",:class => "button" %></div>
	
	<br />

<% end %>
</div>
